@charset "utf-8";
.openerp .oe_margin_top_8 {
	margin-top: 8px;
}
.pac-container {
        z-index: 1800 !important;
}
.map-toggle-container {
        position: relative;
}
.map-toggle {
	float: none !important;
        position: absolute !important;
	right: 0;
	top: -4px;
}
